.app {
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-ui {
  height: 80%;
  width: 80%;
  background-color: #24252D;
  border-radius: 30px;
  padding: 20px;
}

.chat-body  {
  background-color: #fff;
  border-radius: 18px;
  height: 100%;
  position: relative;
  padding: 12px !important;
}